@model Question
<style>
    p.groove {
        border-style: groove;
    }
</style>
<h1>@Model.Title</h1>
<h6><i>@Model.Posted</i> by: @Model.Username</h6>
<br />
<p class="groove">@Model.Detail</p>
<br />
<button onclick="location.href='/QandA/Edit?_id=@Model.id'">EDIT</button>
<button onclick="location.href='/QandA/Delete?_id=@Model.id'">DELETE</button>
<br /><br />
@if (ViewBag.Answerlist != null)
{
    <h4>Answers</h4>
    foreach (Answer answer in ViewBag.Answerlist)
    {
        <p><i>@answer.Posted - by: @answer.Username</i></p>
        <p class="groove">@answer.Detail</p>
    }
}
<br />
<button onclick="location.href='/QandA/AddAnswer?_id=@Model.id'">Add an Answer</button>
<button onclick="location.href='/QandA/Close?_id=@Model.id&status=1'">Mark as Resolved</button>

