@model Question
<p><b>Logged in as: @ViewBag.activeUser</b></p>
<style>
    p.groove {
        border-style: groove;
    }
</style>
@{
    int status = Model.Status;
    string message = "";
    switch (status)
    {
        case 0:
            message = "OPEN";
            break;
        case 1:
            message = "CLOSED";
            break;
    }
}
<a href="/QandA/Index">Back to Questions</a>
<h1>@Model.Title - @message</h1>
<h6><i>@Model.Posted</i> by: @Model.Username</h6>
<br />
<p class="groove">@Model.Detail</p>
<br />
@if (Model.Status != 1 && Model.Username == ViewBag.activeUser)
{
    <button onclick="location.href='/QandA/Edit?_id=@Model.id'">EDIT</button>
    <button onclick="location.href='/QandA/Delete?_id=@Model.id'">DELETE</button>
}
<br />
<br />
@if (ViewBag.Answerlist.Count > 0)
{
    <h4>Answers</h4>
    foreach (Answer answer in ViewBag.Answerlist)
    {
        <p>
            @if (Model.Status == 0)
            {
                <a href="/QandA/UpVote?_id=@answer.id&_questionid=@Model.id">UPVOTE</a>
            }
            <i>@answer.Upvotes Upvotes| @answer.Posted - by: @answer.Username </i>
            @if (answer.Username == ViewBag.activeUser && @Model.Status != 1)
            {
                <a href="/QandA/GetAnswer?_id=@answer.id"><b>EDIT</b></a>
                <a href="/QandA/DelAnswer?_id=@answer.id"><b>DELETE</b></a>
            }
        </p>
        <p class="groove">@answer.Detail</p>
    }
}
<br />
@if (@Model.Status != 1)
{
    <button onclick="location.href='/QandA/AddAnswer?_id=@Model.id'">Add an Answer</button>
    if (Model.Username == ViewBag.activeUser)
    {
        <button onclick="location.href='/QandA/Close?_id=@Model.id&status=1'">Mark as Resolved</button>
    }
}
else if (Model.Status == 1)
{
    if (Model.Username == ViewBag.activeUser)
    {
<button onclick="location.href='/QandA/Close?_id=@Model.id&status=0'">Reopen Question</button>}
            }
